@font-face {
    font-family: 'Droidserif-Regular';
    src: url('../fonts/droidserif-regular-webfont.woff2') format('woff2'), url('../fonts/droidserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droidserif-Italic';
    src: url('../fonts/droid-serif-italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lumberjack';
    src: url('../fonts/lumberjack-webfont.woff2') format('woff2'), url('../fonts/lumberjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Sans';
    src: url('../fonts/ptc55f-webfont.woff2') format('woff2'), url('../fonts/ptc55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    font-family: 'PT-Sans';
    color: #593f1f;
}

.container {
    width: 1311px;
    margin: 0 auto;
    padding-top: 1px;
    padding-left: 55px;
    background: #fff url(../img/bg-page.jpg) 50% 0 no-repeat;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.top-left-column {
    float: left;
    width: 880px;
}

.index-title {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 1.5625em;
    font-weight: normal;
    /*25px*/
}

.index-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.index-menu li {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.index-menu li a {
    position: relative;
    display: inline-block;
    padding: 5px 20px 15px 20px;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.index-menu li:first-child a {
    padding-left: 15px;
}

.index-menu li:last-child a {
    padding-right: 0;
}

.index-menu li a:after {
    position: absolute;
    top: 8px;
    right: 0;
    width: 2px;
    height: 37px;
    content: '';
    background-color: #fff;
}

.index-menu li:nth-child(1) a:after,
.index-menu li:nth-child(2) a:after,
.index-menu li:nth-child(6) a:after,
.index-menu li:nth-child(7) a:after {
    top: -2px;
}

.index-menu li:last-child a:after {
    display: none;
}

.index-menu li a:hover {
    color: #593f1f;
}

.slogan {
    margin-bottom: 60px;
    font-family: 'Droidserif-Italic';
    font-size: 2.1875em;
    /*35px*/
    font-style: italic;
}

.help {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 400px;
    /*    margin-right: 800px;*/
    padding: 23px;
    text-decoration: none;
    color: #fff;
    font-size: 1.875em;
    /*30px*/
    background-color: #50b748;
    border-radius: 2px;
    /*    box-shadow: 0 0 80px #fff;*/
}

.help:hover {
    box-shadow: 0 0 80px #fff;
}

.middle-left-column {
    float: left;
    width: 810px;
    margin-bottom: 255px;
    padding-top: 25px;
    padding-left: 55px;
    font-size: 2em;
    background-color: rgba(255, 255, 255, .4);
}

.date,
.num-1,
.num-2 {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    font-family: 'Lumberjack';
    font-size: 1.5em;
    /*48px*/
    color: #492e0c;
    text-shadow: 0 0 40px #fff;
}

.num-1,
.num-2 {
    margin-right: 100px;
    font-size: 2.8125em;
    /*90px*/
}

.num-1 {
    margin-bottom: -20px;
    color: #ff7500;
}

.num-2 {
    margin-right: 10px;
    color: #50b748;
}

.column-text {
    display: inline-block;
    margin-top: 14px;
    vertical-align: top;
}

.column-text:nth-child(6) {
    margin-top: 50px;
    margin-right: 20px;
}

.support-us {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    padding: 23px;
    font-size: .7815em;
    text-decoration: none;
    color: #fff;
    background-color: #f48120;
}

.support-us:hover {
    box-shadow: 0 0 80px #fff;
}

.comment {
    float: left;
    width: 500px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding-left: 15px;
    font-family: 'Droidserif-Italic';
    background-color: rgba(255, 255, 255, .4);
}

.comment-title {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    /*    font-family: 'Droidserif-Italic';*/
    font-size: 2em;
    /*32px*/
    font-style: italic;
}

.comment-text {
    display: inline-block;
    width: 370px;
    margin-bottom: 30px;
    font-size: 1.25em;
    line-height: 1.2;
    /*20px*/
    font-family: 'Droidserif-Italic';
    font-style: italic;
}

.stub {
    display: inline-block;
    width: 105px;
    height: 105px;
    margin-right: 10px;
    border-radius: 50%;
    background: #fff url(../img/stub.jpg) 47% 54% no-repeat;
}

.comment-subscribe {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 65px;
    margin-left: 355px;
    font-family: 'PT-Sans';
    font-size: 1.25em;
    /*20px*/
    color: #67bb58;
}

.flow-money {
    float: left;
    width: 715px;
    font-family: 'Droidserif-Italic';
    background-color: rgba(255, 255, 255, .4);
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    float: left;
    width: 230px;
    margin-bottom: 21px;
    margin-right: 12px;
    color: #593f1f;
    text-decoration: none;
    font-family: 'PT-Sans';
    font-size: 1.5625em;
    /*25px*/
    text-align: center;
}

.heart,
.note,
.team {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    background: url(../img/icon-heart.png) 50% 0 no-repeat;
}

.note {
    background: url(../img/icon-note.png) 50% 0 no-repeat;
}

.team {
    background: url(../img/icon-team.png) 50% 0 no-repeat;
}

.heart:hover,
.note:hover,
.team:hover,
.volonter:hover,
.shirt:hover,
.rupor:hover {
    box-shadow: 0 0 80px #fff;
}

.item3 {
    margin-right: 0;
}

.flow-money .comment-title:first-child {
    margin-bottom: 45px;
    text-align: center;
}

.promo-text {
    display: block;
    margin-bottom: 70px;
    font-size: 2.5em;
    /*40px*/
    font-family: 'Droidserif-Italic';
    font-style: italic;
    text-align: center;
}

.item4,
.item5,
.item6 {
    width: 400px;
    margin-bottom: 60px;
    /*    padding-top: 160px;*/
}

.volonter,
.shirt,
.rupor {
    display: block;
    width: 134px;
    height: 134px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
}

.volonter {
    background: url(../img/icon-volonter.png) 50% 0 no-repeat;
}

.shirt {
    background: url(../img/icon-shirt.png) 50% 0 no-repeat;
}

.rupor {
    background: url(../img/icon-rupor.png) 50% 0 no-repeat;
}

.footer {
    float: left;
    margin-bottom: 80px;
}

.copyright {
    position: relative;
    float: left;
    width: 475px;
    margin-left: -20px;
    color: #fff;
}

.copyright-text {
    font-size: 1.25em;
    /*20px*/
}

.copyright:after {
    position: absolute;
    top: 5px;
    right: 55px;
    width: 2px;
    height: 47px;
    content: '';
    background-color: #fff;
}

.social-btn {
    float: left;
    width: 220px;
    margin-left: 55px;
}

.vk,
.fb,
.instagram {
    display: inline-block;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
}

.vk:hover,
.fb:hover,
.instagram:hover {
    box-shadow: 0 0 60px #fff;
}

.container-inner {
    width: 1311px;
    margin: 0 auto;
    padding-top: 1px;
    padding-left: 55px;
    background: #fff url(../img/bg-inner-page.jpg) 50% 0 no-repeat;
}

.index-menu li a.active {
    color: #593f1f;
}

.top-right-link {
    float: right;
    width: 400px;
    height: 200px;
}

.contact {
    float: left;
    width: 1261px;
    /*    margin-top: 50px;*/
}

.contact-title {
    display: block;
    margin-bottom: 30px;
    font-size: 1.5625em;
    /*25px*/
    color: #492e0c;
    text-align: center;
}

.our-contact {
    width: 960px;
    margin: 0 auto 40px auto;
}

.our-contact span {
    display: inline-block;
    /*    margin: 0 25px;*/
    vertical-align: top;
    /*    font-size: 1.125em;*/
    /*18px*/
}

.our-contact span:nth-child(2) {
    margin-right: 0;
    margin-left: 61px;
}

.our-contact span:nth-child(3) {
    margin-right: 0;
    margin-left: 62px;
}

.our-contact span a {
    display: inline-block;
    vertical-align: top;
    color: #593f1f;
    text-decoration: none;
}

.our-contact span a:hover {
    text-decoration: underline;
}

.send-mail {
    width: 960px;
    margin: 0 auto 50px auto;
}

.send-mail input::-webkit-input-placeholder {
    color: #fff;
}

.send-mail input::-moz-placeholder {
    color: #fff;
}

.send-mail input:-moz-placeholder {
    color: #fff;
}

.send-mail input:-ms-input-placeholder {
    color: #fff;
}

.send-mail textarea::-webkit-input-placeholder {
    color: #fff;
}

.send-mail textarea::-moz-placeholder {
    color: #fff;
}

.send-mail textarea:-moz-placeholder {
    color: #fff;
}

.send-mail textarea:-ms-input-placeholder {
    color: #fff;
}

.field-wrapper {
    float: left;
    width: 460px;
    margin-right: 30px;
}

.send-mail label {
    display: block;
    width: 380px;
    margin-bottom: 9px;
}

.send-mail input[type=text] {
    width: 448px;
    margin-bottom: 20px;
    padding: 8px 5px;
    outline: none;
    border: none;
    border: 1px solid #593f1f;
    border-radius: 1px;
    background-color: inherit;
}

.field-wrapper input[type=text]:last-child {
    margin-bottom: 0;
}

.text-area-wrapper {
    float: right;
    width: 460px;
}

.send-mail textarea {
    width: 448px;
    height: 200px;
    padding: 5px;
    outline: none;
    border: 1px solid #593f1f;
    border-radius: 1px;
    background-color: inherit;
    resize: none;
}

.send-mail input[type=submit] {
    display: block;
    width: 200px;
    margin: 30px auto 60px auto;
    padding: 3px;
    font-size: 1.5625em;
    /*25px*/
    border: 1px solid #593f1f;
    border-radius: 1px;
    background-color: inherit;
    outline: none;
}

.send-mail input[type=submit]:hover {
    box-shadow: 0 0 60px #fff;
}

.map {
    width: 960px;
    height: 400px;
    margin: 0 auto 50px auto;
}

.our-team {
    display: inline-block;
    width: 380px;
    margin-right: 20px;
    margin-bottom: 50px;
    vertical-align: top;
}

.our-team:nth-child(5) {
    margin-left: 25px;
}

.our-team:last-child {
    margin-right: 0;
}

.our-team span {
    display: block;
    margin-bottom: 20px;
    font-size: 1.25em;
    text-align: center;
}

.our-team span a {
    display: inline-block;
    vertical-align: top;
    color: #593f1f;
    text-decoration: none;
}

.our-team span a:hover {
    text-decoration: underline;
}

.photo1,
.photo2,
.photo3 {
    width: 380px;
    height: 380px;
    margin-bottom: 25px;
    border-radius: 50%;
    background-color: #ccc;
}

.photo2 {
    background: url(../img/photo2.jpg) 50% 0 no-repeat;
}

.contact .copyright-text,
.accounting-row .copyright-text {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.contact .social-btn,
.accounting-row .social-btn {
    float: none;
    margin: 0 auto 30px auto;
}


/*-----  details-accounting.html -------*/

.accounting-container {
    width: 960px;
    margin: 0 auto;
}

.accounting-title {
    margin-top: 200px;
    font-family: 'Droidserif-Italic';
    font-size: 2.1875em;
    /*35px*/
    font-style: italic;
}

.accounting-row {
    width: 1050px;
    margin: 0 auto;
}

.accounting-row p {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Droidserif-Italic';
    font-size: 1.25em;
    /*35px*/
    font-style: italic;
}

.accounting-left-column {
    float: left;
    width: 400px;
    margin-right: 50px;
    text-align: center;
    line-height: 2;
}

.accounting-right-column {
    float: left;
    width: 600px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 2;
}

.column-title {
    display: block;
    margin-bottom: 20px;
    font-size: 1.5625em;
    /*25px*/
    color: #492e0c;
    text-align: center;
}

.
/*------------------*/